*{
    margin: 0;
    padding: 0;
}
.select-container{
    border: 1px solid #000;
    display: inline-flex;
    padding: 4px 10px;
    width: 200px;
    justify-content: space-between;
    position: relative;
    cursor: pointer;
}
#icon{
    transform: rotate(180deg);
}
.select-options{
    position: absolute;
    border: 1px solid #000;
    width: 220px;
    top: 26px;
    left: 0;
    right: 0;
    display: none;
}
.show{
    display: block;
}
.option{
    list-style: none;
    padding: 2px 10px;
}
.option:hover{
    background-color: #e3e3e3;
    cursor: pointer;
}